<header class="toolbar" role="banner">
  <img
    alt="Logo"
    src="assets/meditivo-logo.PNG"
  />
  
  <div class="spacer"></div>

  <!-- Navigation Buttons -->
  <nav>
    <button routerLink="/">Home</button>
    <button routerLink="/my-sessions">My Sessions</button>
    <button routerLink="/preset">Preset</button>
  </nav>

  <!-- Auth Buttons -->
  <nav>
    <button class="auth-button" routerLink="/auth">Sign Up</button>
    <button class="auth-button" routerLink="/auth">Sign In</button>
  </nav>
</header>