<div class="explore-container">
    <div class="left-side">
      <h1>Welcome to Meditivo</h1>
      <p>Find your inner peace with Meditivo. Choose from a variety of preset meditation sessions or create your very own
        with our collection of  soothing sounds.</p>
        <p> Let us help you relieve stress and achieve mindfulness anytime, anywhere.</p>
    </div>
  
    <div class="right-side">
        <img alt="Meditivo Logo" src="assets/meditivo-logo-trans.PNG" />

    </div>
  </div>
  
  <button routerLink="/presets" class="explore-button">Explore our presets</button>
  