  button {
    padding: 5px;
    font-size: 16px;
    background-color:#D1FFF2;
    color: #0f353a;
    border: none;
    border-radius: 3px;
    cursor: pointer;
      }
  
  button:hover {
    background-color: #0f353a;
    color: #D1FFF2;
  }